body {
  background-color: hsl(212, 45%, 89%);
  font-family: Arial, Helvetica, sans-serif;
}
.box {
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  border-radius: 1pc;
  
  height: 80vh;
  width: 25vw;
  margin: 5vh auto;
}
.imag{
    width: 90%;
    height: 55%;
    padding: 1pc;
    border-radius: 2pc;
}
.wrapper{
    height: 60%;
}

h1{
    padding: 0pc 1pc;
    overflow: hidden;
    color: hsl(217, 44%, 16%);
    font-weight: bold;
    font-size: 1.5pc;
    text-align: center;
}
h3{
    color: hsl(220, 15%, 55%);
    font-weight: lighter;
    padding: 1pc;
    font-size: 1pc;
    text-align: center;
}
.attribution{
    margin-top: 1vh;
    margin-left: 40%;
    margin-right: 40%;

    text-align: center;
}

@media only screen and (max-width: 375px) {
    .box{
        width: 80%;
        height:80vh;
        margin: 2pc;
    }
    h1{
        margin: 1pc;
        font-size: 1.1pc;
        font-weight: bolder;
    }
    h3{
        font-size: 0.9pc;

        padding: 0.5pc 1pc;
    }
    .attribution{
        margin: 0pc 20%;
        
        font-size: 1pc;

    }
  }